.list{
  display: flex;
  flex-direction: column;
  gap:5px;
  align-items: flex-start;
  .item{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    width: 100%;
    justify-content: start;
    padding: 5px;
    img{
      display: inline-block;
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
  }
  .br{
    margin-top: 10px;
  }
}
